<header>
  <%= image_tag("art.png", :alt => "Oeuvres d'Art", :class => "homePicture") %>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="active">
        <%= link_to 'Accueil', pages_home_path %>
      </li>

      <li class="">
        <%= link_to 'A Propos', pages_about_path %>
      </li>
      <li class="">
        <%= link_to 'Contact', pages_contact_path %>
      </li>
      <li class="">
        <%= link_to 'Aide', pages_howto_path %>
      </li>


    </ul>
  </div>
</header>